.spelbord {
    margin: auto;            /* spelbord horizontaal centeren */
    margin-top: 20px;        /* extra ruimte boven spelbord */
    margin-bottom: 20px;     /* extra ruimte onder spelbord */
    display: table;
}

.spelbord .input-group {
    margin: auto;            /* input-group centreren tov card */
    width: 400px;            /* input-group vaste breedte geven */
}

.spelbord table {
    margin: auto;
}

.tegel {
    width: 113px;
    height: 113px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 4px;
    transition: transform .25s;
}


.rugzijde {
    cursor: pointer;  /* cursor instellen voor tegels die kunnen omgedraaid worden */
    background: url(logo.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: 5% 5%;
    /*
        het gebruik van !important zorgt ervoor dat deze stijlregel voorrang
        krijgt op de inline stijlregel
    */
    transform: scale(-1, 1) rotateY(180deg);
}
